@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Vollkorn&display=swap');

* {
  border: 2px;
  border-color: black;

}

body {
  margin: 0;
  line-height: 1.8rem;
  font-family: 'Vollkorn', serif;
  box-sizing: border-box;
  background-color: #5CDB95;

}

section{
  margin: 1em;
  padding: 1em;
}

header, footer {
  margin: 0;
}

header h1 {
  font-family: 'Dancing Script', cursive;
}

header {
  padding: 2em;
  text-align: center;
  background-image: url("bg.png");
  background-size: cover;
  background-position: bottom;
  color: white;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
  width: 150px;
  border-radius: 75px;
}

h1 {
  margin: 1em 0;
}

main {
  display: grid;
  margin: 1rem;
  grid-template-columns: 1fr 4fr 1fr;

}

.main {
  display: grid;
  grid-column: 2 / 2;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1.5fr 2.5fr;
  grid-template-rows: 1fr 1fr;
}

.navibar {
  display: inline-grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  font-size: 1.5rem;
  grid-gap: 1rem;
  grid-column: 2 / 2;

}

.navibar a {
  text-decoration: none;
}

.button, .myButton {
  display: grid;
  align-content: center;
  background-color: #05386B;
  border-radius: 0.5rem;
  justify-content: center;
  color: #EDF5E1;
  text-decoration: none;
}

/*.myButton {
  display: grid;
  text-decoration: none;
  color: #EDF5E1
}*/

.button:active {
  position: relative;
  top: 1px;
}

.in_main {
  display: grid;
  align-content: start;
  justify-content: start;

}

.in_main_description {
  display: grid;
  justify-content: start;
}

.footer {
  display: grid;
  padding: 1em;
  grid-column: 2 / 2;
  align-content: center;
  justify-content: end;

}

@media (max-width: 840px) {
.navibar {
  display: grid;
  grid-template-columns: auto;
  grid-column: 1 / 4;

}

.myButton {
  padding: 20px 100px;
}

.main {
  grid-template-columns: auto;
  grid-column: 1 / 4;
}
}